name: Build iOS FoodTracker app

on: [push]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.35.6'
          dart-version: '3.9.2'
      - run: flutter pub get
      - run: flutter build ios --release
